<!DOCTYPE html>
<!-- saved from url=(0039)https://aruns-fabulous-site.webflow.io/ -->
<html>
    <body>
    <div id="admin_announce_body"> <%- reactApp %> </div>
    <script src="/bundles/announce.js" charset="utf-8"></script>
    <script src="/bundles/vendor.js" charset="utf-8"></script>
    </body>
</html>