<!DOCTYPE html>
<!-- saved from url=(0039)https://aruns-fabulous-site.webflow.io/ -->
<html>
    <body>
    <div id="admin_studentinternship_body"> <%- reactApp %> </div>
    <!-- <script src="./views/portal.js" type="text/javascript"></script> -->
    </body>
</html>