<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/companysearch.css">
    </head>
    <body class="background">
    <div id="body"> <%- reactApp %> </div>
    <!-- <script src="/bundles/companysearch.js" charset="utf-8"></script>
    <script src="/bundles/vendor.js" charset="utf-8"></script> -->
    </body>
</html>