<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/users/register/otpvalidation" method="post">
  <label for="fname">email:</label><br>
  <input type="text" id="fname" name="email"><br>
  <label for="lname">otp:</label><br>
  <input type="text" id="lname" name="otp"><br><br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>
</html>
