<!DOCTYPE html>
<html>
    <body>
    <div id="body"> <%- reactApp %> </div>
    <script src="/bundles/test.js" charset="utf-8"></script>
    <script src="/bundles/vendor.js" charset="utf-8"></script>
    </body>
</html>