<!DOCTYPE html>
<html>
    <body>
    <div id="bodyy"> <%- reactApp %> </div>
    <script src="/test.js" charset="utf-8"></script>
    <script src="/vendor.js" charset="utf-8"></script>
    </body>
</html>