<!DOCTYPE html>
<html>
    <body>
        <div>
            <%- number %> <br/>
            <button onClick="add()" type="button">Click Me</button>
            <p><%- numberstate%></p>
        </div>

        <script>
            function add(){
                console.log("clicked")
            }
        </script>
    </body>
</html>