<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Registration Page</title>
    <meta
      property="og:title"
      content="Registration Page - Admirable Daring Vulture"
    />
    <meta property="og:title" content="Admirable Daring Vulture" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />
    <style>
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6 {  margin: 0;  padding: 0;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}
    </style>
    <style>
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div>
      <link href="/css/registration-page.css" rel="stylesheet" />

      <div class="registration-page-container">
        <div class="registration-page-container1">
          <img
            alt="image"
            src="/img/iiitn_logo_transperent_back-900h.png"
            class="registration-page-image"
          />
          <div class="registration-page-container2">
            <span class="registration-page-text">
              <span class="registration-page-text1">
                There are no secrets to success,
              </span>
              <br />
              <span class="registration-page-text3">
                It is result of preparation, hardwork and learning from failure.
              </span>
            </span>
          </div>
          <h1 class="registration-page-text4">Register Your Account</h1>
          <form class="registration-page-form" method="post" action="/users/register">
            <img
              alt="image"
              src="/img/clipart2935933-200w.png"
              class="registration-page-image1"
            />
            <input
              type="text"
              placeholder="User"
              name="username"
              class="registration-page-textinput input"
            />
            <img
              src="/img/kisspng-gmail-clip-art-portable-network-graphics-computer-cara-melihat-google-maps-secara-offline-tanpa-kon-5b6c5892ccea04.3479805115338272188393-200h.png"
              alt="image"
              class="registration-page-image2"
            />
            <input
              type="email"
              placeholder="Email ID"
              name="email"
              class="registration-page-textinput1 input"
            />
            <img
              alt="image"
              src="/img/clipart359932-500h.png"
              class="registration-page-image3"
            />
            <input
              type="password"
              placeholder="Password"
              name="password"
              class="registration-page-textinput2 input"
            />
            <img
              alt="image"
              src="/img/clipart359932-500h.png"
              class="registration-page-image4"
            />
            <input
              type="password"
              placeholder="Confirm Password"
              name="confirm_password"
              class="registration-page-textinput3 input"
            />
            <button
              name="Login"
              type="submit"
              class="registration-page-button button"
            >
              <span class="registration-page-text5">STUDENT REGISTRATION</span>
            </button>
            <%= errors %>
          </form>
          <span class="registration-page-text6">Already have an Account?</span>
          <a href="./login">
          <button
            class="registration-page-button1 button"
          >
            <span class="registration-page-text7">STUDENT LOGIN</span>
          </button>
          </a>
        </div>
        
      </div>
    </div>
  </body>
</html>
